Header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	height: 15vh;
}
.Container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 10vh;
	width: 100vw;
}
.Container img {
	height: 10vh;
	margin: 15px;
}
@media only screen and (max-width: 500px) {
	.Container {
		flex-direction: column;
	}
	img:first-of-type + img {
		display: none;
	}
}
